@model BeverlyHillsZoo.Web.Models.HabitatLand

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Enable";
}

<h1>Enable</h1>

<h3>Are you sure you want to Enable this?</h3>
<div>
    <h4>Habitat Land</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>

    <form asp-action="EnableConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Enable" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
